<footer>
    <section>
        <div>
            <i class="fas fa-credit-card"></i>
            <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h3><strong>Envío gratis desde $ 2.500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
    </section>
    <p class="cr"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
</footer>