<article>
    <a href="#">
        <img src="/images/<%= product.image %>" alt="Cafetera Moulinex" width="100%"
            class="img"></a>
    <div>
        <i class="fas fa-truck"></i>
        <p class="precio">$<%= product.price %></p>
        <p class="descuento"><%= product.descuento %>% OFF</p>
        <p class="descripcion"><strong><%= product.name %></strong></p>
    </div>
</article>